.linkform {







    background: none repeat scroll 0 0 #C9DAEE;



    border-radius: 0 0 25px 25px;



    float: left;



    height: 300px;



    margin-bottom: 4px;



    margin-top: -25px;



    padding-left: 51px;



    padding-right: 68px;



    padding-top: 30px;



    width: 81%;



}























#login_error, .login .message {























    float: left;























    height: auto;















































}























a {























    cursor: pointer !important;























    























}























.inpsub {























	























	background: url("images/add-button-blue-hi.png") repeat scroll 0 center transparent !important;























	float: right !important;























    font-size: 15px !important;























    font-weight: bold !important;























    background-color: transparent !important;























    border: 1px none #D2D2D2 !important;























    text-indent: -9999px;























    width:125px;























    box-shadow: none !important;























}



.hding {

    

    background: none repeat scroll 0 0 #7FA534 ;

    border-radius: 25px 25px 25px 25px;

    behavior: url(images/ie-css3.htc);
    text-align: center; 
    font-weight: bold;
    cursor: pointer;

    height: 43px;

    margin-bottom: 4px;

    padding:14px 5px 0 5px;;

    width: 99%;

}























.linkbaseplg{























margin:0 auto;























    height: auto;



   max-width: 670px;



    width: 100%;



}

.head a {

    background: none repeat scroll 0 0 #C9DAEE;

    border-radius: 25px 25px 25px 25px;

    behavior: url(images/ie-css3.htc);
    font-weight: bold;

    cursor: pointer;

    float: left;

    height: 43px;

    margin-bottom: 4px;

    padding-top: 14px;

    text-align: center;

    width: 100.1%;

}



.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image {























    border-radius: 3px 3px 3px 3px;























    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);























}























.entry-content img, .comment-content img, .widget img {























    max-width: 100%;























}























.text{























	 float: left;























    height: auto;























    margin-bottom: 20px;























    width: 100%;























	























}















































.text label{























	 float: left;























    width: 120px;























	























}























.text input{























	border: 1px solid #919191;























    float: left;























    width: 400px;























	























}























.text textarea{























	width: 400px;























	border: 1px solid #919191;























}























.showsuccess {

    border: 1px solid black;

    border-radius: 33px 33px 33px 33px;

    background: none repeat scroll 0 0 #fff;

    float: left;

    height: auto;

    margin-bottom: 4px;

    max-width: 655px;

    width:100%;

    behavior: url(images/ie-css3.htc); 

    position: relative;

    z-index: 2;

}























.arealeft{























  float: left;























    height: auto;























    margin-bottom: 20px;























    margin-top: 20px;























    max-width: 418px;























    padding-left: 20px;























    width: 100%;























}























.arearight{























float: right;























    height: auto;























    max-width: 137px;























    width: 100%;























}























.showlinkarea{























	 background: none repeat scroll 0 0 #D8D8D8;























    float: left;























    height: auto;























    margin-bottom: 10px;























    min-height: 30px;























    padding: 10px 5px 10px 10px;























    max-width: 425px;























	width:99%;























	























}























.showdescarea{























	background: none repeat scroll 0 0 #BFBFBF;























    float: left;























    height: auto;























    min-height: 85px;























    padding-left: 10px;























    width: 100%;























}























.thumbup{























  /*background: url("images.jpg") repeat scroll 398px center transparent;*/























  background: url("updown.png") repeat scroll 0 center transparent;























    cursor: pointer;























    float: left;























    height: 43px;























    margin-top: 20px;























    width: 44px;























}























.thumbdown{























  background: url("updown.png") repeat scroll 44px center transparent;























    cursor: pointer;























    float: left;























    height: 43px;























    margin-top: 20px;























    width: 44px;























	























}























.img_link























{























	 border: 0 none;























    box-shadow: none !important;























    left: 0;























    margin-left: 20px;























    margin-top: 10px;























    position: absolute;























    width: 36px;















































}























.fb1























{























	float: right;























}















































.head {























   position: relative;























    width: 100%;























}























#sb-info {























    position: absolute !important;























    right: -10px !important;























    top: 10px !important;























}























#sb-nav-close {























    /*background-image: url("close.png");*/























    background: url("close.png") repeat scroll -4px top transparent !important;























}















































#sb-nav a {























    width: 30px !important;























}















































#sb-nav a {























    height: 32px !important;























}























#sb-info, #sb-info-inner {























    height: 32px!important;























   























}























#sb-nav {























   























   























    padding: 0!important;























    width: 100%!important;























}















































.addbtn {























    padding: 0 15px 15px !important;























}























.rong {























	margin-left:120px;























}















































#adminmenu .menu-icon-generic:hover div.wp-menu-image, #adminmenu .menu-icon-generic.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-generic.current div.wp-menu-image {























    background-position: -89px -1px !important;























}























